<h1>Future Events</h1>
<ul>
  <% @events.future.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event.id)%>
    </li>
    <br>
  <% end %>
</ul>

<h1>Past Events</h1>
<ul>
  <% @events.past.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event.id)%>
    </li>
    <br>
  <% end %>
</ul>

<br>

<%= link_to 'New Event', new_event_path %>
